<template>
  <v-col cols="12" sm="12" md="6" lg="4" v-for="pal in allPals">
    <div class="card text-white mx-auto">
      <div :class="`pal-wrapper bg-${pal.doc.color_1}`">
        <div
          class="pal-line d-flex flex-column align-center justify-space-between position-relative text-white"
        >
          <h4 class="w-100 text-left pt-1 pl-2">No. {{ pal.id }}</h4>

          <div class="pal-border">
            <img
              :src="`/img/back/${pal.doc.name}-b.png`"
              :class="`pal-cover bg-${pal.doc.color_2} rounded-circle`"
            />
          </div>

          <div
            class="pal-elements text-center d-flex justify-center position-absolute"
          >
            <template v-for="element in pal.doc.elements">
              <img
                :src="`/img/elements/${element}.webp`"
                alt="water"
                class="mx-1"
              />
            </template>
          </div>

          <h3 class="text-h4 mb-6 text-center font-weight-bold">
            {{ pal.doc.name_jp }}
            <span class="text-subtitle-1 d-block text-capitalize">{{
              pal.doc.name
            }}</span>
          </h3>
        </div>

        <div :class="`pal-card-footer bg-${pal.doc.color_2}`"></div>
        <img
          class="pal-card-bg"
          :src="
            pal.doc.elements[0] == 'electric'
              ? '/img/bg-2.png'
              : '/img/bg-1.png'
          "
        />
      </div>

      <img :src="`/img/front/${pal.doc.name}-f.webp`" class="character" />
    </div>
  </v-col>
</template>

<script>
import { db } from "../main";
import { collection, getDocs, query } from "firebase/firestore";

export default {
  data() {
    return {
      allPals: [],
      allElements: [],
    };
  },
  created() {
    this.getElements();
  },
  methods: {
    async getElements() {
      const querySnapshot = await getDocs(collection(db, "elements"));
      querySnapshot.forEach((doc) => {
        this.allElements.push(doc.data());
      });
      this.getPals();
    },
    async getPals() {
      const querySnapshot = await getDocs(collection(db, "paldeck"));
      querySnapshot.forEach((doc) => {
        let newPal = { id: doc.id, doc: doc.data() };

        let elementCard = this.allElements.filter((element) => {
          return element.name == newPal.doc.elements[0];
        });

        newPal.doc.color_1 = elementCard[0].color_1;
        newPal.doc.color_2 = elementCard[0].color_2;
        this.allPals.push(newPal);
      });
    },
  },
};
</script>

<style>
:root {
  --card-height: 400px;
  --card-width: calc(var(--card-height) / 1.39);
  --card-img: calc(var(--card-height) / 2);
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
}

.pal-cover {
  width: var(--card-img);
  height: var(--card-img);
  object-fit: cover;
  border: #fff 2px solid;
  padding: 2px;
}

.pal-wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 8px;
}
.pal-wrapper .pal-line {
  z-index: 10;
  border: #fff 1px solid;
  height: 100%;
}
.pal-wrapper .pal-card-footer {
  z-index: -5;
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}
.pal-wrapper .pal-card-bg {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pal-elements {
  bottom: 100px;
}
.pal-elements img {
  width: 50px;
  height: 50px;
}

.card:hover .pal-wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.pal-wrapper::before,
.pal-wrapper::after {
  z-index: 15;
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.pal-wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.pal-wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .pal-wrapper::after {
  height: var(--card-height);
  opacity: 1;
}

.card:hover .pal-wrapper::before,
.pal-wrapper::after {
  opacity: 1;
}

/* .pal-info {
  opacity: 0;
  color: #fff;
  font-family: "flexo", "arial";
  font-size: 25px;
  transition: all 0.5s;
} */

.card:hover .pal-info {
  opacity: 1;
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 80%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}
</style>
