<template>
  <v-card>
    <v-layout class="main-pokedex">
      <v-app-bar :scroll-behavior="!drawer ? 'collapse' : ''" color="white" density="compact" scroll-threshold="10">
        <v-icon icon="mdi-pokeball" class="mx-10"
          @click.stop="drawer = !drawer"></v-icon>

        <v-toolbar-title class="text-right mx-10">
          <a href="https://japurecanonico.gitlab.io" class="text-decoration-none text-black" target="_blank">{{ '<japurecanonico/>' }}</a></v-toolbar-title>
      </v-app-bar>

      <MainPoke />
    </v-layout>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    drawer: false,
    group: null,
  }),

  watch: {
    group() {
      this.drawer = false;
    },
  },
};
</script>

<style>
header{
  position: fixed !important;
}
.main-pokedex {
  font-family: "flexo";
  background: linear-gradient(45deg, #370075, #000770,#005a70);
}
</style>
