<template>
  <v-container>
    <v-row class="text-center mb-10 mt-16">
      <v-col class="text-white">
        <h1>PALDECK</h1>
        <p>
          A list of the game's Pals in the form of cards with fun CSS styles, Vuetify and Firebase data.
        </p>
      </v-col>
    </v-row>

    <v-row class="my-10">
      <CardsPoke />
    </v-row>

    <v-row class="my-5">
      <v-col>
        <p class="text-center text-white">Desarrollado con 💜 por japurecanonico - 2024</p>
      </v-col>
    </v-row>
  </v-container>
</template>

<style>
h1 {
  font-family: "adelon";
}
</style>
